<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>High Ping</title>

    <script type="text/javascript" src="scripts/homepage/particle.js"></script>
    <script type="text/javascript" src="scripts/homepage/main.js"></script>

    <style type="text/css">
      html,
      body {
        margin: 0px;
      }

      canvas {
        display: block;
      }
    </style>
  </head>

  <body>
    <!-- <h1>Hello from High Ping!</h1> -->
    <canvas id="canvas"></canvas>
  </body>
</html>
